/* BilliardBalls.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.ball-container {
  border-radius: 50%; /* Asegurar que el contenedor sea redondo */
  overflow: hidden;
  margin: 10px;
  cursor: grab;
}

.ball-container:active {
  cursor: grabbing;
}
