#first_section {
}

/* Estilo para los puntos del carrusel */
.customDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--white-color);
  margin: 0 5px;
}

/* Barra lateral de íconos sociales */
.sideElement {
  position: fixed;
  left: 3rem;
  bottom: 0;
  padding: 10px;
}

.sideElement ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--primary-color);
}

.sideElement ul li {
  list-style: none;
}

.sideElement ul a svg {
  width: 24px;
  height: 24px;
  stroke: var(--primary-color);
  transition: stroke 0.3s ease;
}

.sideElement ul a:hover svg {
  stroke: var(--hover-color);
}

.sideElement ul li:hover {
  transform: translateY(-3px);
}

.linksHorizontal {
  position: unset;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
}

.linksHorizontal ul {
  display: flex;
  flex-direction: row;
  color: var(--primary-color);
  width: 80%;
  justify-content: space-between;
}
