/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
.inactive-link {
  color: rgb(
    214,
    122,
    153
  ); /* Cambia al color que desees para el estado "activo" */
  pointer-events: none; /* Hace que el enlace no sea clicable */
  opacity: 0.6; /* Da un efecto visual de desactivado */
}
