@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Orbitron", sans-serif;
}

@theme {
  --color-background-rgb: 0, 0, 0;
  --color-text-rgb: 255, 255, 255;
  --color-primary-rgb: 199, 112, 240;
  --color-accent-rgb: 255, 0, 255;
  --color-surface-rgb: 26, 26, 26;
  --color-muted-rgb: 204, 204, 204;

  /* Legacy variables for direct use, if needed */
  --color-primary: rgb(var(--color-primary-rgb));
  --color-accent: rgb(var(--color-accent-rgb));
  --color-muted: rgb(var(--color-muted-rgb));
}

@layer base {
  [theme="light"] {
    --color-background-rgb: 0, 0, 0;
    --color-text-rgb: 255, 255, 255;
    --color-primary-rgb: 0, 255, 255;
    --color-accent-rgb: 100, 252, 252;
    --color-surface-rgb: 26, 26, 26;
    --color-muted-rgb: 204, 204, 204;
  }
}

@layer utilities {
  .glow {
    color: var(--color-accent);
    filter: drop-shadow(0 0 6px var(--color-accent));
  }

  .hover\:glow:hover {
    color: var(--color-accent);
    filter: drop-shadow(0 0 6px var(--color-accent));
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-muted {
    color: var(--color-muted);
  }

  .bg-background {
    background-color: rgba(var(--color-background-rgb), 0.9);
  }

  .bg-background-mob {
    background-color: rgba(var(--color-background-rgb), 1);
  }
}
